.App {
  border-radius: 9px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(63, 63, 63);
  border: 1px solid rgb(0, 0, 0);
  height: 280px;
  width: 180px;
  margin-top: 70px;
  padding-top: 5px;
  padding-left: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.calculatorDisplay {
  border-radius: 9px;
  text-align: right;
  text-align: top;
  background-color: rgb(146, 173, 123);
  border: 1px solid rgb(0, 0, 0);
  line-height: 38px;
  margin-left: 1px;
  margin-top: 1px;
  margin-bottom: 5px;
  height: 60px;
  width: 158px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.calculatorButton {
  border-radius: 4px;
  background: rgb(211, 211, 212);
  border: 1px solid rgb(0, 0, 0);
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 38px;
  height: 38px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0;
  text-align: center;
  width: 38px;
}
.equalsButton {
  background: rgb(211, 211, 212);
  border: 1px solid rgb(0, 0, 0);
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 38px;
  height: 38px;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0;
  text-align: center;
  width: 78px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.calcBtn:after {
  content: "";
}

.calcRow:after {
  clear: both;
  content: "";
  display: table;
}
